                            ############################################################
                            # Packages nécessaires à l'application JeMeLance streamlit #
                            ############################################################

#packages transversaux 
numpy 
pandas
matplotlib
requests
s3fs
datetime

#app
streamlit

#nlp
spacy
langchain_community
joblib

#ml
scikit-learn
xgboost

